* {
    padding:0;
    margin:0;
}

html {
    height: 100%;
}

body {
    font-family: Allan, helvetica, arial, sans-serif;
    height: 100%;
    background: #ececec url(../img/bg.png);
    color: #888;
}

input {
    font-family: 'Ubuntu Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
    color: #444;
}

/* Main styles */



/*   Header   */

#header {
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

#header-wrap {
    height: 190px;
    background: url("../img/header.png") repeat-x bottom center;
}

#logo {
    background: url("../img/logo.png") no-repeat;
    float: left;
    height: 67px;
    width: 160px;
    margin: 67px 2px 2px -5px;
}

#sociale {
    height: 140px;
    top: 187px;
    left: -69px;
    position: absolute;
    width: 70px;
    background: url(../img/social-desktop.png) no-repeat bottom center;
}

#sociale ul {
    margin-top: 8px;
    list-style: none;
    display: block;
    margin-left: 20px;
}

#sociale ul li {
    margin-top:3px;
}

.add_button {
    padding-top: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 15px 30px 2px 3px;
    float: right;
    background: url("../img/btn_sprite.png") no-repeat -5px -124px;
    width: 190px;
    height: 34px;
    cursor: pointer;
}

.add_button:hover {
    background: url("../img/btn_sprite.png") no-repeat -5px -9px;

}

.add_button:active {
    cursor: pointer;
    text-shadow: 0px 1px 1px #923921;
    background: url("../img/btn_sprite.png") no-repeat -5px -65px;

}

/*    FEATURED OBJECTS   */

#featured-objects {
    height:500px;
}

.object-small {
    position: relative;
    width: 296px;
    height: 190px;
    float:left;
    margin:11px;
    cursor: pointer;
}

.object-small img{
    width: 296px;
    height: 190px;
}

.object-small a {
    position: absolute;
    top: 0;
    height: 190px;
    color:#fff;
    background: grey;
    display: none;
    text-decoration: none;
}

.object-small a p {
    padding:10px;
}

/*    FOOTER   */

#footer-wrap {
    background: url("../img/footer-line.png") repeat-x top left #E6E5E1;
    height: 300px;
    text-shadow: 0 1px #fff;
}

#footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}



/*    MENU    */

#menu {
    background:#d6d3d1;
    margin-top: 10px;
    height: 35px;
    margin-bottom:10px;
}

#menu ul#men {
    list-style: none;
    
}

#menu ul li a {
    padding: 6px 20px 4px 20px;
    float: left;
    text-decoration: none;
    color: black;
}

#menu ul li:hover{
    background:#c4c3c2
}



#menu ul li {

    height: 35px;
    background: #d6d3d1;
    list-style: none;
    float:left;
}

#menu ul#profile {
    list-style: none;
    float:right;
}


/*   Content  */

#content {

}

#cont-wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
    background: #FFFFFF;
    /*
    -moz-box-shadow: 0px 0px 30px 5px #A4A4A4;
    -webkit-box-shadow: 0px 0px 30px 5px #A4A4A4;
    box-shadow: 0px 0px 30px 5px #A4A4A4;
    */
}


#content .rightblock {
    width: 260px;
    height: 600px;
    float: right;
}

#canva-hider {
    margin-top: -35px;
    width: 960px;
    height: 430px;
    overflow: hidden;
    box-shadow: 0px 3px 10px #2E2F2F;
}

#map_canvas {
    height:460px;
}

#content #leatest {
    background: #dfdfdf;
    margin-left:15px;
    height:400px;
}

#content #leatest #heading {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: #9C9C9C;
    height: 35px;
}

#content #leatest #heading p {
    padding-top:6px;
}

/*    HEADINGS     */

.home-heading {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 33px;
    background: url("../img/div-line.png") repeat-x center center;
    text-align: center;
    margin-bottom: 15px;
}

.home-heading span {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}







