* {
    padding:0;
    margin:0;
}

html {
    height: 100%;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    height: 100%;
    background: #ececec url(../img/bg.png);
    color: #888;
}

input,label {
    font-family: 'Ubuntu Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
    color: #444;
}

a {
    text-decoration: none;
    color: #1C1D1D;
}
/* Main styles */



/*   Header   */

#header {
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

#header-wrap {
    height: 190px;
    background: url("../img/header.png") repeat-x bottom center;
}

#logo {
    background: url("../img/logo.png") no-repeat;
    float: left;
    height: 67px;
    width: 160px;
    margin: 67px 2px 2px -5px;
}

#add {
    margin: 90px 20px 0 0;
    background: url("../img/plus.png") no-repeat top;
    float: right;
    height: 30px;
    width: 30px;
}

#add:hover {
    background: url("../img/plus.png") no-repeat bottom;
}

#sociale {
    height: 140px;
    top: 187px;
    left: -69px;
    position: absolute;
    width: 70px;
    background: url(../img/social-desktop.png) no-repeat bottom center;
}

#sociale ul {
    margin-top: 8px;
    list-style: none;
    display: block;
    margin-left: 20px;
}

#sociale ul li {
    margin-top:3px;
}

.add_button {
    font-size: 21px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    border: none;
    background: url("../img/btn_sprite.png") no-repeat -5px -121px;
    width: 190px;
    height: 46px;
    cursor: pointer;
}

.add_button.addObj {
    position: absolute;
    top: 77px;
    left: 305px;
}

.editobject .add_button.addObj {
    position: absolute;
    top: 77px;
    left: 680px;
}

.editobject a.admin-delete {
    position: relative;
    left: 725px;
    color: #FE2E2E;
}

.editobject a.admin-delete:hover {
    text-decoration: underline;
}

.submitBtn {
    color: #1C1D1D;
    font-size: 28px;
    left: 350px;
    top: 80px;
    position: absolute;
    padding: 5px 20px 5px 20px;
}

.add_button:hover {
    background: url("../img/btn_sprite.png") no-repeat -5px -7px;

}

.add_button:active {
    cursor: pointer;
    text-shadow: 0px 1px 1px #923921;
    background: url("../img/btn_sprite.png") no-repeat -5px -63px;

}

/*    FEATURED OBJECTS   */

#featured-objects {
    height:425px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.object-small {
    position: relative;
    width: 296px;
    height: 190px;
    float:left;
    margin: 5px;
    cursor: pointer;
}

.object-small img{
    width: 296px;
    height: 190px;
}

.object-small a {
    position: absolute;
    top: 0;
    left: 0;
    height: 190px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: url('../img/hover_bg.png');
    text-decoration: none;
}

.object-small a p {
    padding:10px;
}

/* LATEST OBJECTS */

#latest-wrapper {

}

#latest-objects {
    width: 920px;
    margin-left: auto;
    height: 180px;
    margin-right: auto;
}

.news-object, .news-object img  {
    width: 220px;
    height: 138px;
}

.news-object {
    margin: 0 5px 0 5px;
}

.news-object a {
    height: 138px;
}

/*    FOOTER   */

#footer-wrap {
    background: url("../img/footer-line.png") repeat-x top left #E6E5E1;
    height: 220px;
    text-shadow: 0 1px #fff;
}

#footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#footer > ul {
    padding-top: 15px;
    list-style: none;
}

#footer > ul li {
    padding-left: 20px;
    width: 300px;
    float: left;
}

#footer > ul li p {
    font-size: 13px;
}

#footer > ul li ul {
    list-style: none;
}

#footer > ul li h3 {
    padding-left: 15px;
}

#footer > ul li ul.externallinks a {
    color: #888;
}

#footer > ul li ul li {
    padding-top: 10px;
}

/*    FORM ELEMENTS  */

.fieldset {
    padding-right: 30px;
    margin-left: 10px;
    padding-top: 10px;
    border: 1px solid #CCCCCC;
    float: left;
    position: relative;
}

.fieldset .legend {
    padding-left: 5px;
    left: 10px;
    top: -11px;
    position: absolute;
    color: #1C1D1D;
    background: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding-right: 5px;
}

.input {
    margin: 10px 0 20px 10px;
}

.input input {
    font-size: 14px;
    height: 25px;
    padding: 2px;
    border: 1px solid #BDBDBD;
    float: right;
}

.input.text label {
    padding-bottom: 5px;
}

.input label {
    position: relative;
    top: 5px;
    color: #424242;
}

.input.text:focus {
    border:none;
}

.input input:focus {
    border: 1px solid #F4FA58;
}

/*    ADD OBJECT  */

#addObjectForm {
    margin-left: 20px;
}

#addObject .input label {
    top: 0;
}

#addObject .fieldset {
    padding-bottom: 15px;
}

#addObject .fieldset input {
    margin-bottom: 10px;
}

#addObject {
    padding-bottom:20px;
    padding-top: 20px;
}

.addGallery {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 18px;
    background: url('../img/add.png') no-repeat left 1px;
}

.addGallery:hover {
    background: url('../img/add.png') no-repeat left -17px;
    color:#FE8300;
}

#uploadCont {
    margin-top: -15px;
    margin-left: 20px;
    min-height: 300px;
}

.galleryHolder {
    margin-top: 20px;
    height: 160px;
    width: 100%;
}

.galleryDummy {
    width:120px;
    height: 120px;
    background: #BDBDBD;
    float:left;
    margin:5px;
}

.galleryDummy:hover {
    background: url('../img/addpics.png') no-repeat center center;
}

.addPhotosLink {
    top: 155px;
    position: absolute;
    left: 360px;
}

.addPhotosLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.editobject .addPhotosLink {
    top: 155px;
    position: absolute;
    left: 730px;
}

/*  ADD PHOTOS     */

#uploadContainer {
    height: 100%;
    background: #fff;
}

.addWrapper {
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#photoHolder {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom:20px;
}

#photoHolderWrap {
    z-index: 1;
    overflow: auto;
    height: 400px;
}

.addedPhoto {
    float:left;
    margin: 20px;
    width: 200px;
    height: 200px;
    background: #D8D8D8;
    position: relative;
    margin-bottom: 40px;
}

.removeLink {
    background: url('../img/delete.png') no-repeat center center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -14px;
    right: -14px;
}

.addedPhoto img {
    vertical-align: middle;
}

.progressBar {
    width:200px;
    height:5px;
    background: #C8C8C8;
    position: absolute;
    bottom:-20px;
}

.progressBar .bar {
    width:0;
    height: 5px;
    background: #5882FA;
}

.galleryNamer {
    float: left;
    position: absolute;
    top: 20px;
    left: 175px;
}

.galleryNamer form input {
    font-family: arial, sans-serif;
    background: #F5DA81;
    font-size: 16px;
    color: #1C1D1D;
    border: none;
    padding: 3px;
}

.galleryNamer form input:focus {
    border: 1px dashed #F2F5A9;
    background: #F2F5A9;
    color:#848484;
}

.scroll-pane {
}


/* FANCYBOX stiles  */
.fancyHead {
    background: #F5DA81;
    margin-bottom:20px;
}

.fancyFooter {
    z-index: 3;
    background: #F5DA81;
    position: absolute;
    bottom:0;
    height: 55px;
    width: 100%;
}

/*    LOGIN   */

#login .input {
    width: 100%;
}

#login .input label {
    position: relative;
    top: 7px;
}

#login .input input {
    float:right;
}

.signup-link {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    float:left;
    margin: 25px 20px;
}

#submitLogin {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    float:left;
    padding: 5px 10px;
}

/*    MENU    */

#menu-wrap {
    margin-left: 300px;
    float: left;
    margin-top: 84px;
}

#menu-wrap.user_menu_wrap {
    margin-left: 210px;
}

ul#menu li {
    float: left;
    list-style: none;
    z-index: 9999;
}

ul#menu li.user_menu a {
    padding-top: 15px;
    padding-bottom: 12px;
}

ul#menu li.user_menu {
    position: relative;
}

ul#menu li.user_menu:hover {
    background: #424242;
    border: none;
}

/* Level 2*/
ul#menu li.user_menu ul {
    display: none;
    z-index: 999;
    position: absolute;
    background: #424242;
}

ul#menu li.user_menu ul li:hover {
    background: #6E6E6E;
    border: none;
}

ul#menu li.user_menu.active {
    background: #424242;
    border: none;
}

ul#menu li.user_menu ul li {
    list-style: none;
    float: none;
}
/* END */

ul#menu li a>span {
    display: block;
    font-size: 9px;
    font-weight: lighter;
    color:#717171;
}

ul#menu li:hover span {
    color: #717171;
}


ul#menu li a {
    display: block;
    padding: 10px 15px 5px 15px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

ul#menu li:hover {
    background: #2D2F2F;
    border-bottom: 5px solid #000000;
}

ul#menu li.active {
    background: #2D2F2F;
    border-bottom: 5px solid #000000;
}

ul#menu li:hover a {
    color: #FE830B;
}

ul#menu li.active {
    background: #2D2F2F;
    border-bottom: 5px solid #000000;
}

ul#menu li.active a {
    color: #FE830B;
}

/*   Content  */

#content {
    z-index: 999;
    position: relative;
}

#cont-wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
    background: #FFFFFF;
    position: relative;
    /*
    -moz-box-shadow: 0px 0px 30px 5px #A4A4A4;
    -webkit-box-shadow: 0px 0px 30px 5px #A4A4A4;
    box-shadow: 0px 0px 30px 5px #A4A4A4;
    */
}


#content .rightblock {
    width: 260px;
    height: 600px;
    float: right;
}

#canva-hider {
    margin-top: -35px;
    width: 960px;
    height: 430px;
    overflow: hidden;
    box-shadow: 0px 3px 10px #2E2F2F;
}

#map_canvas {
    height:460px;
}

#canva-hider-addobject {
    right: 0;
    top: 80px;
    position: absolute;
    z-index: 999;
    margin-right: 30px;
    width: 400px;
    height: 260px;
    overflow: hidden;
    box-shadow: 0px 3px 10px #2E2F2F;
}

#map_canvas_addobject {
    height:280px;
}


#content #leatest {
    background: #dfdfdf;
    margin-left:15px;
    height:400px;
}

#content #leatest #heading {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: #9C9C9C;
    height: 35px;
}

#content #leatest #heading p {
    padding-top:6px;
}

/*    HEADINGS     */

.home-heading {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 33px;
    background: url("../img/div-line.png") repeat-x center center;
    text-align: center;
    margin-bottom: 15px;
}

.home-heading.main {
    margin-top:-35px;
    margin-right: 0;
    margin-left: 0;
    background: #1C1D1D;
    text-align: left;
}

.home-heading.view {
    margin-bottom:0;
}

.home-heading.main span {
    color: #fff;
    background: #1C1D1D;
    margin-left: 20px;
}

.home-heading span {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}

.fancyHeading {
    padding-top:11px;
    padding-bottom: 5px;
    font-size: 30px;
    text-align: left;
}

.fancyHeading span {
    margin-left: 20px;
}

#object-map {
    position: absolute;
    left: 0;
    width: 100%;
    height: 210px;
}

#object-map-hider {
    position: relative;
    overflow: hidden;
    height: 185px;
}

.main-text {
    border-top: 6px solid #DAD9D5;
    color: #000000;
    font-size: 12px;
    padding: 20px;
}

.view .main-text {
    padding: 20px 5px 20px 20px;
}

.showFavorite {
    position: relative;
    background: url('../img/heart.png') center no-repeat;
    width: 43px;
    height: 35px;
    float: right;
    right: 60px;
    top: 3px;
}

.showFavorite.active {
    background: url('../img/heart_red.png') center no-repeat;
}

.showFavorite:hover {
    background: url('../img/heart_red.png') center no-repeat;
}

.addToFavourite {
    background: url('../img/heart.png') center no-repeat;
    width: 43px;
    height: 35px;
    position: absolute;
    right: -30px;
    z-index: 1;
    top: 170px;
}

.addToFavourite.red {
    background: url('../img/heart_red.png') center no-repeat;
}

.main-text .getCoordinates {
    cursor: pointer;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
    background: url('../img/target.png') left bottom no-repeat;
}

.main-text .coordinates {
    text-align: center;
}

.view .main-text-holder h3,
.view .main-text-holder h2,
.view .main-text-holder h4,
.view .main-text-holder h5,
.view .main-text-holder h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.main-text #left-col {
    width: 700px;
    padding-right: 10px;
    line-height: 1.8em;
    border-right: 1px solid #DAD9D5;
    float: left;
}

.print {
    float: right;
    width: 18px;
    height: 18px;
    background: url('../img/printer.png') no-repeat center;
}

.main-text #right-col {
    width: 215px;
    margin-left: 9px;
    float: left;
}

.main-text-holder:first-letter {
    font-size: 24px;
    color: #FE8300;
}

#right-col .gallery a {
    float: left;
}

#right-col .gallery img {
    padding-right: 5px;
    width: 100px;
    border: none;
}

.rate-stars {
    margin-top: 5px;
    float: right;
    margin-right: 10px;
}

.rate-stars .star {
    background: url('../img/star_off.png') no-repeat center center;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
    float: left;
}

.rate-stars .star.on {
    background: url('../img/star.png') no-repeat center center;
}

.rate-stars .star.rated {
    background: url('../img/star.png') no-repeat center center;
}

.rate-stars .star.rate {
    background: url('../img/star.png') no-repeat center center;
}

.rate-stars .stare {
    background: url('../img/star_off.png') no-repeat center center;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
    float: left;
}

.rate-stars .stare.rate {
    background: url('../img/star.png') no-repeat center center;
}

form {
    width: 330px;
    margin-left: 25px;
}

form #submit {
    padding: 10px 14px;
}

form .submitter {
    padding-top: 15px;
}

.error, .success {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.success {
    margin-top: 20px;
    background-color: #A9F5A9;
    border: 1px solid #088A08;
    padding-bottom: 3px;
}

.validation-error, .error {
    margin-top: 20px;
    background-color: #F5A9A9;
    border: 1px solid #8A0808;
    padding-bottom: 3px;
}

.validation-error span, .error span, .success span {
    padding-left: 15px;
    font-size: 10px;
    color: #000000;
}

/* Overlay */
.overlay {
    text-align: center;
    font-size: 35px;
    color: #fff;
    display: none;
    z-index: 10000;
    background: url("../img/header.png") repeat-x 20px center;
    width: 675px;
    padding: 15px 0 15px 0;
    border: 1px solid #666;
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

.overlay strong {
    text-transform: uppercase;
}
.overlay p {
    padding: 15px;
}

.overlay span {
    margin-left: auto;
    margin-right: auto;
}

.overlay img {
    padding: 5px;
    margin-bottom: -16px;
}

/* User page */

.user-page #content > div {
    float: left;
}

.user-page .leftcol {
    width: 200px;
    height: 360px;
}

.user-page .user-menu-list {
    list-style: none;
}

.user-page .maincol {
    width: 760px;
}

.user-page #user_map_canvas {
    height:360px;
}

.user-page .user-menu-list li {
    font-size: 14px;
    cursor: pointer;
    background: #6E6E6E;
    border-right: 5px solid #000;
    padding: 7px 0 7px 30px;
    color: #ffffff;
    border-bottom: 1px solid #848484;
}

.user-page .user-menu-list li a {
    color: #fff;
}

.user-page .user-menu-list li a:hover {
    color: #FE8300;
}

.user-page .user-menu-list li:hover {
    color: #FE8300;
}

.user-page .user-menu-list li.active {
    background: #6E6E6E;
    border-right: none;
    color: #FE8300;
}

.user-page .fieldset {
    margin: 15px;
    padding: 10px;
    border: 1px solid #6E6E6E;
}

.user-page .fieldset .input {
    width: 270px;
}

.user-page .fieldset .fieldsetlabel {
    color: #000;
    background: #fff;
    position: relative;
    top: -20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.user-page #user-info-form {
    margin-top: 15px;
}

/* Admin options */

.maincol.admin {
    padding-bottom: 20px;
}

.admin .input input {
    float: left;
}

.admin .input {
    width: auto;
    padding-bottom: 30px;
}

button.submit {
    cursor: pointer;
    margin-left: 10px;
    padding: 7px 12px;
}

.admin-listview div {
    float: left;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.line {
    border-bottom: 2px solid #888;
}

.admin-listview-heading div {
    font-weight: bold;
    text-align: center;
    float: left;
    padding: 10px;
    font-size: 12px;
}

.admin-listview .title, .admin-listview-heading .title {
    width: 90px;
}

.admin-listview-heading .descr {
    width: 280px;
}
.admin-listview .descr {
    width: 280px;
    text-align: left;
}

.admin-listview .photocount, .admin-listview-heading .photocount {
    width: 50px;
}

.admin-listview .comment-count, .admin-listview-heading .comment-count {
    width: 50px;
}

.admin-listview .user, .admin-listview-heading .user {
    width: 100px;
}

.admin-listview .actions a.admin-delete {
    color: #FE2E2E;
}

.admin-listview .actions a.admin-delete:hover {
    text-decoration: underline;
}

/* Comments block */

.comments-block {
    margin-top: 45px;
    border-top: 1px solid #A3A6A3;
}

.comments-block .add-block {
    background: #E6E5E1;
}

.comments-block .add-block form {
    width: 100%;
}

.comments-block h3,h2,h1 {
    background: #E6E5E1;
    padding-left: 20px;
    padding-top: 3px;
}

.comments-block .add-block form textarea.commenttext {
    margin-top: 5px;
    margin-left: -5px;
    padding-right: 0px;
    width: 660px;
    height: 100px;
    resize: none;
}

.comments-count {
    margin-right: 5px;
    float: right;
    margin-top: -22px;
}

.comments-block .add-block form .submitter {
    padding: 0 0 10px 0;
}

.comments-block .add-block form .submitter input#submit {
    margin-right: 42px;
    float: right;
    padding: 4px 12px;
}

.comment .info {
    font-size: 11px;
}

.comment .info .username {
    color: #238a43;
}

.comment .info .datetime {
    color: #b3b3b3;
    padding-left: 15px;
}

.comment {
    position: relative;
    margin-left: 15px;
    padding-bottom: 10px;
    margin-top: 15px;
    border-bottom: 1px solid #A3A6A3;
}

.comment .comment-delete {
    position: absolute;
    right: 20px;
    top: 18px;
    color: #FE2E2E;
}

.comment .comment-delete:hover {
    text-decoration: underline;
}

.no-comment {
    text-align: center;
}

.no-comment a {
    color: #238a43;
}

.no-comment a:hover {
    text-decoration: underline;
}

.no-comment h3 {
    padding: 10px;
}

.editlink {
    top: 251px;
    width: 45px;
    height: 100px;
    position: absolute;
    background: url('../img/editlabel.png') no-repeat center top;
    left: -45px;
}

.editlink p {
    margin-top: 37px;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* News section */
.news.listview {
    position: relative;
}

.news.listview .left {
    float: left;
    padding-top: 8px;
    padding-left: 30px;
}

.news.listview .left a {
    cursor: pointer;
}

.news.listview .left .date {
    font-size: 11px;
}

.news.listview .text {
    font-size: 13px;
    padding: 10px 15px 15px 15px;
    float: right;
    width: 600px;
}

/* Object list view page */
.object.listview {
    padding: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    position: relative;
}

.object.listview .text {
    padding-top: 5px;
    float: left;
    width: 600px;
}

.object.listview .photo {
    margin-top: -26px;
    margin-left: 60px;
    float: left;
    width: 200px;
}

.object.listview h3 {
    width: 400px;
    font-size: 22px;
}

.home-heading.listview .sort-by {
    float: right;
    position: relative;
    right: 30px;
    top: -5px;
}

.home-heading.listview .sort-by span {
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    padding: 0;
    text-transform: none;
}

.home-heading.listview .sort-by a span:hover {
    text-decoration: underline;
}

.home-heading.listview .sort-by a.active span {
    text-decoration: underline;
}

.home-heading.listview .sort-by span.divider {
    padding: 0 10px;
}

.home-heading.listview .sort-by a {
    margin-right: -15px;
}

.home-heading form {
    right: 20px;
    position: relative;
    float: right;
    top: -5px;
    width: 180px;
}

.home-heading .search {
    width: 180px;
    height: 25px;
    padding-left: 10px;
    color: #888;
}

.object.listview .rate-stars {
    top: 10px;
    position: absolute;
    left: 415px;
}

.nothing {
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}

.paginator {}

.paginator-holder-outer {
    float: left;
    position: relative;
    left: 50%;
}

.paginator-holder-inner {
    float: left;
    position: relative;
    left: -50%;
}

.paginator .page {
    border: 1px solid #888;
    font-size: 12px;
    margin-left: 5px;
    padding: 2px 5px;
    background: #A4A4A4;
    color: #fff;
}

.paginator .page.active {
    background: #DAD9D5;
}



