* {
    padding:0;
    margin:0;
}

html {
    height: 100%;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    height: 100%;
    background: #ececec url(../img/bg.png);
    color: #888;
}

input,label {
    font-family: 'Ubuntu Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
    color: #444;
}

a {
    text-decoration: none;
    color: #1C1D1D;
}
/* Main styles */



/*   Header   */

#header {
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

#header-wrap {
    height: 190px;
    background: url("../img/header.png") repeat-x bottom center;
}

#logo {
    background: url("../img/logo.png") no-repeat;
    float: left;
    height: 67px;
    width: 160px;
    margin: 67px 2px 2px -5px;
}

#add {
    margin: 90px 20px 0 0;
    background: url("../img/plus.png") no-repeat top;
    float: right;
    height: 30px;
    width: 30px;
}

#add:hover {
    background: url("../img/plus.png") no-repeat bottom;
}

#sociale {
    height: 140px;
    top: 187px;
    left: -69px;
    position: absolute;
    width: 70px;
    background: url(../img/social-desktop.png) no-repeat bottom center;
}

#sociale ul {
    margin-top: 8px;
    list-style: none;
    display: block;
    margin-left: 20px;
}

#sociale ul li {
    margin-top:3px;
}

.add_button {
    font-size: 21px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    border: none;
    background: url("../img/btn_sprite.png") no-repeat -5px -121px;
    width: 190px;
    height: 46px;
    cursor: pointer;
}

.add_button.addObj {
    position: absolute;
    top: 77px;
    left: 305px;
}

.submitBtn {
    color: #1C1D1D;
    font-size: 28px;
    left: 350px;
    top: 80px;
    position: absolute;
    padding: 5px 20px 5px 20px;
}

.add_button:hover {
    background: url("../img/btn_sprite.png") no-repeat -5px -7px;

}

.add_button:active {
    cursor: pointer;
    text-shadow: 0px 1px 1px #923921;
    background: url("../img/btn_sprite.png") no-repeat -5px -63px;

}

/*    FEATURED OBJECTS   */

#featured-objects {
    height:425px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.object-small {
    position: relative;
    width: 296px;
    height: 190px;
    float:left;
    margin: 5px;
    cursor: pointer;
}

.object-small img{
    width: 296px;
    height: 190px;
}

.object-small a {
    position: absolute;
    top: 0;
    height: 190px;
    color:#fff;
    background: grey;
    display: none;
    text-decoration: none;
}

.object-small a p {
    padding:10px;
}

/* LATEST OBJECTS */

#latest-wrapper {

}

#latest-objects {
    width: 920px;
    margin-left: auto;
    height: 180px;
    margin-right: auto;
}

.news-object, .news-object img  {
    width: 220px;
    height: 138px;
}

.news-object {
    margin: 0 5px 0 5px;
}

.news-object a {
    height: 138px;
}

/*    FOOTER   */

#footer-wrap {
    background: url("../img/footer-line.png") repeat-x top left #E6E5E1;
    height: 300px;
    text-shadow: 0 1px #fff;
}

#footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

/*    FORM ELEMENTS  */

.fieldset {
    padding-right: 30px;
    margin-left: 10px;
    padding-top: 10px;
    border: 1px solid #CCCCCC;
    float: left;
    position: relative;
}

.fieldset .legend {
    padding-left: 5px;
    left: 10px;
    top: -11px;
    position: absolute;
    color: #1C1D1D;
    background: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding-right: 5px;
}

.input {
    margin: 10px 0 20px 10px;
}

.input input {
    font-size: 18px;
    height: 30px;
    padding: 2px;
    border: 1px solid #BDBDBD;
}

.input.text label {
    padding-bottom: 5px;
    color: #1C1D1D;
}

.input.text:focus {
    border:none;
}

.input input:focus {
    border: 1px solid #F4FA58;
}

/*    ADD OBJECT  */

#addObjectForm {
    margin-left: 20px;
}

#addObject {
    padding-bottom:20px;
    padding-top: 20px;
}

.addGallery {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 18px;
    background: url('../img/add.png') no-repeat left 1px;
}

.addGallery:hover {
    background: url('../img/add.png') no-repeat left -17px;
    color:#FE8300;
}

#uploadCont {
    margin-top: -15px;
    margin-left: 20px;
    min-height: 300px;
}

.galleryHolder {
    margin-top: 20px;
    height: 160px;
    width: 100%;
}

.galleryDummy {
    width:120px;
    height: 120px;
    background: #BDBDBD;
    float:left;
    margin:5px;
}

.galleryDummy:hover {
    background: url('../img/addpics.png') no-repeat center center;
}

.addPhotosLink {
    top: 155px;
    position: absolute;
    left: 360px;
}

.addPhotosLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*  ADD PHOTOS     */

#uploadContainer {
    height: 100%;
    background: #fff;
}

.addWrapper {
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#photoHolder {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom:20px;
}

#photoHolderWrap {
    z-index: 1;
    overflow: auto;
    height: 400px;
}

.addedPhoto {
    float:left;
    margin: 20px;
    width: 200px;
    height: 200px;
    background: #D8D8D8;
    position: relative;
    margin-bottom: 40px;
}

.addedPhoto img {
    vertical-align: middle;
}

.progressBar {
    width:200px;
    height:5px;
    background: #C8C8C8;
    position: absolute;
    bottom:-20px;
}

.progressBar .bar {
    width:0;
    height: 5px;
    background: #5882FA;
}

.galleryNamer {
    float: left;
    position: absolute;
    top: 20px;
    left: 175px;
}

.galleryNamer form input {
    font-family: arial, sans-serif;
    background: #F5DA81;
    font-size: 16px;
    color: #1C1D1D;
    border: none;
    padding: 3px;
}

.galleryNamer form input:focus {
    border: 1px dashed #F2F5A9;
    background: #F2F5A9;
    color:#848484;
}

.scroll-pane {
}


/* FANCYBOX stiles  */
.fancyHead {
    background: #F5DA81;
    margin-bottom:20px;
}

.fancyFooter {
    z-index: 3;
    background: #F5DA81;
    position: absolute;
    bottom:0;
    height: 55px;
    width: 100%;
}

/*    LOGIN   */

#login .input {
    width: 100%;
}

#login .input label {
    position: relative;
    top: 7px;
}

#login .input input {
    float:right;
}

.signup-link {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    float:left;
    margin: 25px 20px;
}

#submitLogin {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    float:left;
    padding: 5px 10px;
}

/*    MENU    */

#menu-wrap {
    margin-left: 300px;
    float: left;
    margin-top: 84px;
}

ul#menu li {
    float: left;
    list-style: none;
}

ul#menu li a>span {
    display: block;
    font-size: 9px;
    font-weight: lighter;
    color:#717171;
}

ul#menu li:hover span {
    color: #717171;
}


ul#menu li a {
    display: block;
    padding: 10px 15px 5px 15px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

ul#menu li:hover {
    background: #2D2F2F;
    border-bottom: 5px solid #000000;
}

ul#menu li:hover a {
    color: #FE830B;
}

ul#menu li.active {
    background: #2D2F2F;
    border-bottom: 5px solid #000000;
}

ul#menu li.active a {
    color: #FE830B;
}

/*   Content  */

#content {

}

#cont-wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
    background: #FFFFFF;
    position: relative;
    /*
    -moz-box-shadow: 0px 0px 30px 5px #A4A4A4;
    -webkit-box-shadow: 0px 0px 30px 5px #A4A4A4;
    box-shadow: 0px 0px 30px 5px #A4A4A4;
    */
}


#content .rightblock {
    width: 260px;
    height: 600px;
    float: right;
}

#canva-hider {
    margin-top: -35px;
    width: 960px;
    height: 430px;
    overflow: hidden;
    box-shadow: 0px 3px 10px #2E2F2F;
}

#map_canvas {
    height:460px;
}

#canva-hider-addobject {
    right: 0;
    top: 80px;
    position: absolute;
    z-index: 999;
    margin-right: 30px;
    width: 400px;
    height: 260px;
    overflow: hidden;
    box-shadow: 0px 3px 10px #2E2F2F;
}

#map_canvas_addobject {
    height:280px;
}


#content #leatest {
    background: #dfdfdf;
    margin-left:15px;
    height:400px;
}

#content #leatest #heading {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: #9C9C9C;
    height: 35px;
}

#content #leatest #heading p {
    padding-top:6px;
}

/*    HEADINGS     */

.home-heading {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 33px;
    background: url("../img/div-line.png") repeat-x center center;
    text-align: center;
    margin-bottom: 15px;
}

.home-heading.main {
    margin-top:-35px;
    margin-right: 0;
    margin-left: 0;
    background: #1C1D1D;
    text-align: left;
}

.home-heading.view {
    margin-bottom:0;
}

.home-heading.main span {
    color: #fff;
    background: #1C1D1D;
    margin-left: 20px;
}

.home-heading span {
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}

.fancyHeading {
    padding-top:11px;
    padding-bottom: 5px;
    font-size: 30px;
    text-align: left;
}

.fancyHeading span {
    margin-left: 20px;
}

#object-map {
    position: absolute;
    left: 0;
    width: 100%;
    height: 210px;
}

#object-map-hider {
    position: relative;
    overflow: hidden;
    height: 185px;
}

.main-text {
    border-top: 6px solid #DAD9D5;
    color: #000000;
    font-size: 12px;
    padding: 20px;
}

.main-text #left-col {
    width: 700px;
    padding-right: 10px;
    line-height: 1.8em;
    border-right: 1px solid #DAD9D5;
    float: left;
}

#main-text #right-col {
    float:left;
    width: 250px;
}

#left-col:first-letter {
    font-size: 24px;
    color: #FE8300;
}



